.capitulo {
  font-size: 32px;
  text-transform: uppercase;
}

.card {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.card h1 {
  font-size: 42px;
  font-weight: bold;
  padding: 20px;
  color: white;
}

.title {
  text-align: center;
  color: white;
  height: fit-content;
}

.content h2 {
  padding: 80px;
}
.card p {
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.75rem;
  padding: 0.5rem;
  width: 70%;
  height: fit-content;
}
.title p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: max-content;
  text-transform: uppercase;
  padding: 0;
}
.card button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  height: fit-content;
  text-transform: capitalize;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content {
  background-color: rgb(252, 241, 229);
  height: fit-content;
}
.content p {
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}
/* #################################### Carrossel ####################################*/

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slide img {
  width: 800px;
  height: 500px;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}

/* manual slide */
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-image: linear-gradient(
    to right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* #################################### Carrossel ####################################*/

.footer {
  width: 100%;
  background-color: rgb(206, 31, 31);
  color: rgb(5, 5, 5);
  position: fixed;
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font-family: var(--font-paragraph);
}
.footer img {
  width: 100px;
  height: auto;
  padding: 5px;
}
.footer-img {
}

.footer__nav {
  width: 70%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
  text-align: center;
}

.rainbow-button-footer {
  width: 98px;
  height: 38px;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.capitulo-1-titulo {
  background-color: rgb(252, 120, 120);
  background-image: url(../assets/banner-capitulo-1.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
