::-webkit-scrollbar-thumb {
    background-color: rgb(231, 127, 41);
}

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.title {
    text-align: center;
    color: white;
    height: fit-content;
}

.card h1 {
    font-size: 42px;
    font-weight: bold;
    padding: 20px;
    color: white;
}
.content h2 {
    padding: 80px;
}
#last{
    margin-bottom: 90px;
}
.card p:first-child {
    padding-top: 5rem;
}
.title p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    text-transform: uppercase;
    padding: 0;
}
.card button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    height: fit-content;
    text-transform: capitalize;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content {
    background-color: rgb(252, 241, 229);
    height: fit-content;
}
.ancor-to-personal-page {
    text-decoration: underline;
    font-weight: 400;
    color:rgb(231, 127, 41);
}

/* SLIDER */
.slider2{
    width: 318px;
    height: 400px;
    margin: 5rem;
    margin-bottom: 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.8) 0px 0 10px;
    background-color: #DCD8CC;
}







.slider3{
    width: 900px;
    height: 600px;
    margin: 5rem;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.8) 0px 0 10px;
    background-color: #DCD8CC;
}

.list , .list2, .list3, .list4{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1.5s;
}

.list2 img{
    width:318px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.list3 img{
    width:900px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    padding: 25px 50px;
    box-sizing: border-box;
}
.buttons2{
    position: absolute;
    top: 22%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}
.buttons3{
    position: absolute;
    top: 32%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}
.buttons2 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(75, 74, 74, 0.247);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.buttons3 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(36, 35, 35, 0.247);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots2{
    position: absolute;
    bottom: -10px;
    color: #ffffff9d;
    left: -3.5%;
    width: fit-content;
    padding: 20px;
    display: flex;
}
.dots3{
    position: absolute;
    bottom: -10px;
    color: #ffffff9d;
    left: 45%;
    width: fit-content;
    padding: 20px;
    display: flex;
}
.dots2 li{
    list-style: none;
    width: 5px;
    height: 5px;
    background-color: rgba(14, 13, 13, 0.863);
    margin: 5px;
    border-radius: 50%;
}
.dots3 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff9d;
    margin: 5px;
    border-radius: 50%;
}

.dots2 li.active2{
    width: 10px;
    border-radius: 5px;
    transition: .5s;
}
.dots3 li.active3{
    width: 30px;
    border-radius: 5px;
    transition: .5s;
}

.rainbow-hover{
    border-bottom: 2px solid white;
    background: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    border-image-slice: 1;

    font-weight: 600;
}
/* Popup container */
.popup , .bibapopup , .necapopup {
    position: relative;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext , .bibapopup .bibapopuptext , .necapopup .necapopuptext{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after , .bibapopup .bibapopuptext::after , .necapopup .necapopuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show , .bibapopup .show , .necapopup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  
.next-chapter {
    display: flex;
    gap: 2rem;
    margin-bottom: 90px;
}
.rainbow-button {
    width: 200px;
    height: 80px;
    background-image: linear-gradient(
        90deg,
        #6098ff 0%,
        #fae173 49%,
        #ff9d9d 80%,
        #b777ff 100%
    );
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.5rem;
}

.rainbow-button:after {
    content: attr(alt);
    width: 192px;
    height: 72px;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--background-capitulo-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: var(--font-paragraph);
}
.rainbow-button:hover {
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.footer {
    width: 100%;
    background-color: rgb(231, 127, 41);
    color: rgb(5, 5, 5);
    position: fixed;
    bottom: 0;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-family: var(--font-paragraph);
    padding-left: 4rem;
}
.footer img {
    width: 100px;
    height: auto;
    padding: 5px;
}

.footer__nav {
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
    text-align: center;
}

.rainbow-button-footer {
    width: 98px;
    height: 38px;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.capitulo-2-titulo {
    background-color: rgb(255, 193, 78);
    background-image: url(../assets/banner-capitulo-2.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 1024px) {
    .footer {
        width: 100%;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 0;
        display: flex;
        height: 70px;
        justify-content: space-around;
        align-items: space-around;
        gap: 3rem;
        font-family: var(--font-paragraph);
    }
    .footer img {
        width: 100px;
        height: auto;
        padding: 5px;
    }

    .footer__nav {
        width: 70%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 5rem;
        text-align: center;
        gap: 1rem;
    }
}
@media (max-width: 940px) {
  
    .slider3{
        width: 600px;
        height: 400px;
        margin: 1rem;
        margin-bottom: 2.5rem;
       
    }
   

    .list3 img{
        width:600px;
        
    }
    
   
    .buttons3{
        top: 22%;
    }
   
    .dots3{
        left: 40%;
    }
}
@media (max-width: 800px) {
    .rainbow-button:last-child {
        margin-top: 10px;
    }
    .footer {
        width: 100%;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 0;
        display: flex;
        height: 70px;
        justify-content: space-around;
        align-items: space-around;
        gap: 0rem;
        font-family: var(--font-paragraph);
    }
    .footer img {
        display: none;
        width: 80px;
        height: auto;
        padding: 5px;
    }

    .footer__nav {
        width: 70%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 5rem;
        text-align: center;
        gap: 0.5rem;
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .footer {
        display: none;
    }
    .rainbow-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container {
        padding: 0;
    }
    .slider3{
        width: 350px;
        height: 250px;
        margin: 1rem;
        margin-bottom: 2.5rem;
       
    }
.list3 img{
        width:350px;
        padding: 2px;
    }
.buttons3{
        top: 3%;
        
    }
.dots3{
        left: 30%;
    }
    
    .card h1{
        font-size: 2rem;
        box-sizing: border-box;
    }
    .card h2{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 375px){
    .capitulo{
        font-size: 20px;
    }
    .card h1{
        font-size: 1.8rem;
        box-sizing: border-box;
    }
    .card h2{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2;
    }
    .capas-de-jornal{
        width: 300px;
    }
    .legenda{
        width: 300px;
    }
    
    
}

@media (min-width: 900px){
    .next-chapter{
        display: none;
    }
}
/* hamburger menu especific*/
@media (max-width: 900px) {
    .hamburger-menu{
        display: flex;
    }
    /* hamburger menu especific COLORS*/
    .hamburger-menu:has(input:checked)::before {
        background-color: var(--background-capitulo-2);
    }
    .hamburger-menu:has(input:checked)::after {
        background-color: var(--background-capitulo-2);
    }
    .hamburger-menu input:checked{
        background-color: var(--background-capitulo-2);
    }
    .sidebar {
        display: flex;
        justify-content: space-around;
        /* hamburger menu especific COLORS*/
        background-color: rgb(253, 198, 147, 0.5);
    }
    .sidebar-container-title{
        font-size: 24px;
        font-family: var(--font-paragraph);
        font-weight: 400;
    }
    .sidebar-items-capitulos{
        font-family: var(--font-paragraph);
        font-weight: 400;
        font-size: 18px;
    }

    .sidebar-container{
        display: flex;
        flex-direction: column;
        gap:1.2rem;
        margin-bottom: 2.5rem;
    }
    .sidebar-items {
        font-size: 24px;
        font-family: var(--font-paragraph);
        text-align: center;
    }
    .footer{
        display: none;
    }
}

