.card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.title {
    text-align: center;
    color: white;
    height: fit-content;
}

.card h1 {
    font-size: 42px;
    font-weight: bold;
    padding: 20px;
    color: white;
}
.content h2 {
    padding: 80px;
}
/* ################################ CORPO ################################ */
.card p {
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.75rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    width: 70%;
    height: fit-content;
}
.card p:first-child {
    padding-top: 5rem;
}
.title p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    text-transform: uppercase;
    padding: 0;
}
.card button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    height: fit-content;
    text-transform: capitalize;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content {
    background-color: rgb(252, 241, 229);
    height: fit-content;
}
.content p {
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}
/* ################################ FIM CORPO ################################ */
/* ######################## PROXIMO CAPÍTULO ######################## */
.next-chapter {
    display: flex;
    gap: 2rem;
    margin-bottom: 90px;
}
.rainbow-button {
    width: 200px;
    height: 80px;
    background-image: linear-gradient(
        90deg,
        #6098ff 0%,
        #fae173 49%,
        #ff9d9d 80%,
        #b777ff 100%
    );
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.5rem;
}

.rainbow-button:after {
    content: attr(alt);
    width: 192px;
    height: 72px;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--background-capitulo-4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: var(--font-paragraph);
}
.rainbow-button:hover {
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

/* ######################## FIM PROXIMO CAPÍTULO ######################## */
.footer {
    width: 100%;
    background-color: rgb(1, 122, 1);
    color: rgb(5, 5, 5);
    position: fixed;
    bottom: 0;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-family: var(--font-paragraph);
    padding-left: 4rem;
}
.footer img {
    width: 100px;
    height: auto;
    padding: 5px;
}

.footer__nav {
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
    text-align: center;
}

.rainbow-button-footer {
    width: 98px;
    height: 38px;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.capitulo-4-titulo {
    background-color: rgb(70, 161, 70);
}

@media (max-width: 1024px) {
    .footer {
        width: 100%;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 0;
        display: flex;
        height: 70px;
        justify-content: space-around;
        align-items: space-around;
        gap: 3rem;
        font-family: var(--font-paragraph);
    }
    .footer img {
        width: 100px;
        height: auto;
        padding: 5px;
    }

    .footer__nav {
        width: 70%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 5rem;
        text-align: center;
        gap: 1rem;
    }
}
@media (max-width: 800px) {
    .footer {
        width: 100%;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 0;
        display: flex;
        height: 70px;
        justify-content: space-around;
        align-items: space-around;
        gap: 0rem;
        font-family: var(--font-paragraph);
    }
    .footer img {
        display: none;
        width: 80px;
        height: auto;
        padding: 5px;
    }

    .footer__nav {
        width: 70%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 5rem;
        text-align: center;
        gap: 0.5rem;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .footer {
        display: none;
    }
    .rainbow-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container {
        padding: 0;
    }
}

@media (min-width:900px){
    .next-chapter{
        display:none;
    }
}
@media (max-width: 900px) {
    .hamburger-menu{
        display: flex;
    }
    /* hamburger menu especific COLORS*/
    .hamburger-menu:has(input:checked)::before {
        background-color: var(--background-capitulo-4);
    }
    .hamburger-menu:has(input:checked)::after {
        background-color: var(--background-capitulo-4);
    }
    .hamburger-menu input:checked{
        background-color: var(--background-capitulo-4);
    }
    .sidebar {
        display: flex;
        justify-content: space-around;
        /* hamburger menu especific COLORS*/
        background-color: rgb(166, 204, 166, 0.5);
    }
    .footer{
        display: none;
    }
}