::-webkit-scrollbar-thumb {
    background-color: rgb(14, 39, 150);
}

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.title {
    text-align: center;
    color: white;
    height: fit-content;
}



/* ################################ CORPO ################################ */

.card p:first-child {
    padding-top: 5rem;
}
.title p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    text-transform: uppercase;
    padding: 0;
}
.card button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    height: fit-content;
    text-transform: capitalize;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content {
    background-color: rgb(252, 241, 229);
    height: fit-content;
}
.ancor-to-personal-page {
    text-decoration: underline;
    font-weight: 400;
    color:rgb(14, 39, 150);
}
.content__img{
    width: 400px;
}
.legenda{
    font-family: var(--font-paragraph);
    text-align: center;
    font-size: 14px;
    color: rgb(58, 58, 58);
    margin-bottom: 3rem;
}
.podcast {
    border-radius:12px;
    width: 70%;
    height: 302px;
    margin-top: 2.6rem;
}
#last {
    margin-bottom: 120px;
}
/* ################################ FIM CORPO ################################ */
/* ######################## CARROSSEL ######################## */

.slider{
    width: 500px;
    height: 700px;
    margin: 5rem, 5rem, 2rem, 5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.8) 0px 0 10px;

}
.slider2{
    width: 900px;
    height: 600px;
    margin: 5rem;
    margin-top: 2.2rem;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.8) 0px 0 10px;
    background-color: #DCD8CC;
}

.slider4{
    width: 900px;
    height: 600px;
    margin: 5rem;
    margin-top: 2.2rem;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.8) 0px 0 10px;
    background-color: #DCD8CC;
}

.list , .list2, .list3, .list4{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1.5s;
}

.list img {
    width: 500px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.list2 img{
    width:900px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    padding: 25px 50px;
    box-sizing: border-box;
}
.list3 img{
    width:900px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    padding: 25px 50px;
    box-sizing: border-box;
}

.list4 img{
    width:900px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    padding: 25px 50px;
    box-sizing: border-box;
}

.buttons{
    position: absolute;
    top: 32%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.buttons2{
    position: absolute;
    top: 32%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}
.buttons3{
    position: absolute;
    top: 32%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}
.buttons4{
    position: absolute;
    top: 32%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(36, 35, 35, 0.459);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.buttons2 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(36, 35, 35, 0.247);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.buttons3 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(36, 35, 35, 0.247);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.buttons4 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(36, 35, 35, 0.247);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 8%;
    width: fit-content;
    padding: 20px;
    display: flex;
}

.dots2{
    position: absolute;
    bottom: -10px;
    color: #ffffff9d;
    left: 36.5%;
    width: fit-content;
    padding: 20px;
    display: flex;
}
.dots3{
    position: absolute;
    bottom: -10px;
    color: #ffffff9d;
    left: 45%;
    width: fit-content;
    padding: 20px;
    display: flex;
}
.dots4{
    position: absolute;
    bottom: -10px;
    color: #ffffff9d;
    left: 42.5%;
    width: fit-content;
    padding: 20px;
    display: flex;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
}

.dots2 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff9d;
    margin: 5px;
    border-radius: 50%;
}
.dots3 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff9d;
    margin: 5px;
    border-radius: 50%;
}
.dots4 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff9d;
    margin: 5px;
    border-radius: 50%;
}

.dots li.active{
    width: 30px;
    border-radius: 5px;
    transition: .5s;
}
.dots2 li.active2{
    width: 30px;
    border-radius: 5px;
    transition: .5s;
}
.dots3 li.active3{
    width: 30px;
    border-radius: 5px;
    transition: .5s;
}
.dots4 li.active4{
    width: 30px;
    border-radius: 5px;
    transition: .5s;
}
.capa__mulher {
    width: 500px;
    margin-bottom: 1.2rem;
    margin-top: 3rem;
}

/* ######################## CARROSSEL ######################## */
/* ######################## PROXIMO CAPÍTULO ######################## */
.next-chapter {
    display: flex;
}
.rainbow-button {
    width: 200px;
    height: 80px;
    background-image: linear-gradient(
        90deg,
        #6098ff 0%,
        #fae173 49%,
        #ff9d9d 80%,
        #b777ff 100%
    );
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    color: white;

    text-align: center;
    line-height: 1.5rem;
}

.rainbow-button:after {
    content: attr(alt);
    width: 192px;
    height: 72px;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--background-capitulo-5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: var(--font-paragraph);
}
.rainbow-button:hover {
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

/* ######################## FIM PROXIMO CAPÍTULO ######################## */
.footer {
    width: 100%;
    background-color: rgb(14, 39, 150);
    color: rgb(5, 5, 5);
    position: fixed;
    bottom: 0;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-family: var(--font-paragraph);
    padding-left: 4rem;
}
.footer img {
    width: 100px;
    height: auto;
    padding: 5px;
}

.footer__nav {
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
    text-align: center;
}

.rainbow-button-footer {
    width: 98px;
    height: 38px;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.capitulo-5-titulo {
    background-color: rgb(63, 98, 253);
    background-image: url(../assets/banner-capitulo-5.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-subtitle{
    margin-top: 0;
    padding-top: 0;
}
.credito-capas{
    font-family: var(--font-paragraph);
    text-align: left;
    font-size: 12px;
    float: left;
    position: relative;
    z-index: -3;
    bottom:-90px;
    left: -32%;
    color: white;
}

@media (max-width: 1024px) {
    .footer {
        width: 100%;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 0;
        display: flex;
        height: 70px;
        justify-content: space-around;
        align-items: space-around;
        gap: 3rem;
        font-family: var(--font-paragraph);
    }
    .footer img {
        width: 100px;
        height: auto;
        padding: 5px;
    }

    .footer__nav {
        width: 70%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 5rem;
        text-align: center;
        gap: 1rem;
    }
}

@media (max-width: 940px) {
    .slider2{
        width: 600px;
        height: 400px;
        margin: 1rem;
        margin-bottom: 2.5rem;
       
    }
    
    .slider3{
        width: 600px;
        height: 400px;
        margin: 1rem;
        margin-bottom: 2.5rem;
       
    }
    
    .slider4{
        width: 600px;
        height: 400px;
        margin: 1rem;
        margin-bottom: 2.5rem;
      
    }
    
    
    .list2 img{
        width:600px;
        
    }

    .list3 img{
        width:600px;
        
    }
    
    .list4 img{
        width:600px;
    }
    
    .buttons2{
        top: 22%;
        
    }
    .buttons3{
        top: 22%;
        
    }
    .buttons4{
        top: 22%;
    }
    
    .dots2{
        left: 32%;
        
    }
    .dots3{
        left: 40%;
    }
    .dots4{
        left: 40%;
    }
} 
@media (max-width: 800px) {
    .footer {
        width: 100%;
        color: rgb(5, 5, 5);
        position: fixed;
        bottom: 0;
        display: flex;
        height: 70px;
        justify-content: space-around;
        align-items: space-around;
        gap: 0rem;
        font-family: var(--font-paragraph);
    }
    .footer img {
        display: none;
        width: 80px;
        height: auto;
        padding: 5px;
    }

    .footer__nav {
        width: 70%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 5rem;
        text-align: center;
        gap: 0.5rem;
        font-size: 14px;
    }
    .credito-capas{
        font-family: var(--font-paragraph);
        text-align: left;
        font-size: 12px;
        float: left;
        position: relative;
        z-index: -3;
        bottom:-120px;
        left: -26%;
        color: white;
    }
}
@media (max-width: 600px) {
    .slider2{
        width: 350px;
        height: 250px;
        margin: 1rem;
        margin-bottom: 2.5rem;
    }
    
    .slider3{
        width: 350px;
        height: 250px;
        margin: 1rem;
        margin-bottom: 2.5rem;
       
    }
    
    .slider4{
        width: 350px;
        height: 250px;
        margin: 1rem;
        margin-bottom: 2.5rem;
      
    }
    
    
    .list2 img{
        width:350px;
        padding: 2px;
        
    }

    .list3 img{
        width:350px;
        padding: 2px;
    }
    
    .list4 img{
        width:350px;
        padding: 2px;
    }
    
    .buttons2{
        top: 3%;
        
    }
    .buttons3{
        top: 3%;
        
    }
    .buttons4{
        top: 3%;
    }
    
    .dots2{
        left: 20%;
        
    }
    .dots3{
        left: 30%;
    }
    .dots4{
        left: 30%;
    }
    .footer {
        display: none;
    }
    .rainbow-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container {
        padding: 0;
    }
    .capa__mulher {
        width: 500px;
        margin-bottom: 1.2rem;
    }
    .capa__mulher {
        width: 350px;
        margin-bottom: 1.2rem;
    }
    #last {
        margin-bottom: 50px;
    }
    .credito-capas{
        font-family: var(--font-paragraph);
        text-align: left;
        font-size: 12px;
        float: left;
        position: relative;
        z-index: -3;
        bottom:-120px;
        left: -20%;
        color: white;
    }
}
@media (max-width: 450px){
    .capitulo{
        font-size: 20px;
    }
    .card h1{
        font-size: 1.8rem;
        box-sizing: border-box;
    }
    .card h2{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2.4rem;
        font-size: 1.2;
    }
    .capas-de-jornal{
        width: 300px;
    }
    .legenda{
        width: 300px;
    }
    .credito-capas{
        font-family: var(--font-paragraph);
        text-align: left;
        font-size: 12px;
        float: left;
        position: relative;
        z-index: -3;
        bottom:-120px;
        left: -12%;
        color: white;
    }
    
    
}
@media (min-width:900px){
    .next-chapter{
        display:none;
    }
}
@media (max-width: 900px) {
    .hamburger-menu{
        display: flex;
    }
    /* hamburger menu especific COLORS*/
    .hamburger-menu:has(input:checked)::before {
        background-color: var(--background-capitulo-5);
    }
    .hamburger-menu:has(input:checked)::after {
        background-color: var(--background-capitulo-5);
    }
    .hamburger-menu input:checked{
        background-color: var(--background-capitulo-5);
    }
    .sidebar {
        display: flex;
        justify-content: space-around;
        /* hamburger menu especific COLORS*/
        background-color: rgb(180, 193, 253, 0.9);
    }
    .sidebar-container-title{
        font-size: 24px;
        font-family: var(--font-paragraph);
        font-weight: 400;
    }
    .sidebar-items-capitulos{
        font-family: var(--font-paragraph);
        font-weight: 400;
        font-size: 18px;
    }

    .sidebar-container{
        display: flex;
        flex-direction: column;
        gap:1.2rem;
    }
    .sidebar-items {
        font-size: 24px;
        font-family: var(--font-paragraph);
        text-align: center;
    }
    .footer{
        display: none;
    }
}