:root {
    --font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        18deg,
        #6098ff 0%,
        #fae173 49%,
        #ff9d9d 80%,
        #b777ff 100%
    );
}
/*  poppings
  mudar foter*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    letter-spacing: 1px;
}

/* ################################ Global Classes ################################ */
/* ################################ Global Classes ################################ */

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.title img {
    width: 100%;
}

.card h1 {
    padding: 20px;
    color: black;
}
.content {
    text-align: center;
    background-color: rgb(252, 241, 229);
    height: fit-content;
}

.principal {
   height: 1200px;
    margin: 50px 50px;
    display: flex;
    justify-content: center;
}
.principal__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal__titulo {
    text-align: center;
    font-size: 36px;
    width: 95%;
}
.principal__titulo-paragrafo{
    text-align: left;
    line-height: 1.4rem;
    margin-top: 0.8rem;
    width: 100%;
    
}
.principal__video{
    width: 70%;
    height: 60%;
    border-radius: 10px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.principal__texto {
    text-align: center;
    width: 130%;
}
.sobre {
    display: flex;
    flex-direction: column;
    height: 800px;
    margin-top: 50px;
}
.sobre__julia {
    display: flex;
    gap: 5rem;
    margin: 5rem 0;
}
.sobre__oscar {
    display: flex;
    gap: 5rem;

    margin: 5rem 0;
}
.sobre img {
    border-radius: 50%;
    width: 10rem;
}

.sobre h2 {
    font-size: 32px;
    padding-bottom: 10px;
}
.sobre__julia-texto h3 {
    font-weight: bold;
    padding-bottom: 1rem;
}
.sobre__oscar-texto h3 {
    font-weight: bold;
    padding-bottom: 1rem;
}
.index-section-capitulos {
    height: 700px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 90px;
    display: none;
    flex-direction: column;
}
.index-section-capitulos-container {
    display: flex;
    height: 400px;
}

.index-section-capitulos-card {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 0.5rem;
    height: 100px;
}
.index-section-capitulos h2 {
    padding-bottom: 10px;
    font-size: 32px;
}
.index-section-capitulos h3 {
    padding-top: 20px;
}

.rainbow-button {
    width: 140px;
    height: 80px;
    background-image: linear-gradient(
        90deg,
        #6098ff 0%,
        #fae173 49%,
        #ff9d9d 80%,
        #b777ff 100%
    );
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.rainbow-button:after {
    content: attr(alt);
    width: 132px;
    height: 72px;
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(107, 107, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.sidebar-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
}
.sidebar-title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
}
.sidebar-x {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    width: 50px;
    cursor: pointer;
}
.sidebar-items:hover{
    border-bottom: 2px solid white;
    background: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    border-image-slice: 1;
    opacity: 0.9;
    font-weight: 600;
}
.sidebar {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.979) 0%,
        rgba(0, 0, 0, 0.979) 96%
    );
    height: 500px;
    transition: translate 0.8s ease-in-out;
    translate: -110%;
    width: 350px;
    color: white;
}
.rainbow-hover{
    border-bottom: 2px solid white;
    background: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    border-image-slice: 1;

    font-weight: 600;
}


.btn-1:after {
    background-color: var(--background-capitulo-1);
}
.btn-2:after {
    background-color: var(--background-capitulo-2);
}
.btn-3:after {
    background-color: var(--background-capitulo-3);
}
.btn-4:after {
    background-color: var(--background-capitulo-4);
}
.btn-5:after {
    background-color: var(--background-capitulo-5);
}
.btn-6:after {
    background-color: var(--background-capitulo-6);
}
.btn-7:after {
    background-color: var(--background-capitulo-7);
}

.rainbow-button:hover {
    animation: slidebg 2s linear infinite;
}


@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.index-footer-names:last-child {
    margin-bottom: 120px;
}

.title p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    padding: 0;
}
.card button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    height: fit-content;
    text-transform: capitalize;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card button:hover {
    background-color: rgb(34, 34, 34);
    border: 3px solid white;
    border-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        purple
    );
    color: white;
}



.footer {
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: rgb(5, 5, 5);
    position: fixed;
    bottom: 0;
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
.footer img {
    width: 105px;
    height: auto;
    margin-left: 5rem;
}

.footer a {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.footer__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 10rem;
    padding-left: 1rem;
}
.footer p {
    width: max-content;
    height: 25px;
    margin-left: 10px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: var(--font-family-paragraph);
    border-bottom: 2px solid white;
}
.footer p:hover {
    border-bottom: 2px solid white;
    background: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    border-image-slice: 1;
    transition: 1s;
    font-weight: 600;
}
/* ################################ Capítulo 1 ################################ */
/* ################################ Capítulo 1 ################################ */
.capitulo-1-titulo {
    background-image: url(../assets/banner-home-page.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

    

@media (max-width: 1080px) {
    .index-section-capitulos {
        flex-direction: column;
        display: none;

        height: 500px;
        
    }
    
}
@media screen and (min-width: 1300px) and (max-width: 1500px ) { 
    .rainbow-button {
        width: 120px;
        height: 80px;
        background-image: linear-gradient(
            90deg,
            #6098ff 0%,
            #fae173 49%,
            #ff9d9d 80%,
            #b777ff 100%
        );
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 0.6rem;
        margin-top: 1rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .rainbow-button:after {
        content: attr(alt);
        width: 112px;
        height: 72px;
        border-radius: 5px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }


}
@media screen and (min-width: 1160px) and (max-width: 1300px) { 
    .rainbow-button {
        width: 110px;
        height: 70px;
        background-image: linear-gradient(
            90deg,
            #6098ff 0%,
            #fae173 49%,
            #ff9d9d 80%,
            #b777ff 100%
        );
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 0.6rem;
        margin-top: 1rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .rainbow-button:after {
        content: attr(alt);
        width: 102px;
        height: 62px;
        border-radius: 5px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
}
@media screen and (min-width: 1080px) and (max-width: 1160px) { 
    .rainbow-button {
        width: 100px;
        height: 70px;
        background-image: linear-gradient(
            90deg,
            #6098ff 0%,
            #fae173 49%,
            #ff9d9d 80%,
            #b777ff 100%
        );
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 0.6rem;
        margin-top: 1rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .rainbow-button:after {
        content: attr(alt);
        width: 92px;
        height: 62px;
        border-radius: 5px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
}

@media (max-width: 840px) {
    .principal__video{
        width: 80%;
        height: 22.5rem;
    }
}

@media (max-width: 700px) {
    .capitulo-1-titulo {
        background-image: url(../assets/banner-home-page-mobile.jpg);
    }
    .principal{
        height: auto ;
    }
    .principal__video{
        width: 21rem;
        height: 22.5rem;
    }
    .index-section-capitulos{
        display: none;
        justify-content: center;
        align-items: center;
    }
    .index-section-capitulos-container {
        flex-direction: none;
        flex-wrap: wrap;
        flex-grow: 0.5;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 90px;
        padding-bottom: 90px;
        margin-top: 20px;
        height: 500px;
    }
    .footer {
        justify-content: space-around;
        font-size: 14px;
    }
    .footer img {
        display: none;
    }
    .footer__nav {
        width: 100%;
        align-items: center;
        margin-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 540px) {
    .principal__titulo {
        text-align: center;
        font-size: 32px;
        width: 100%;
    }
    .principal__titulo-paragrafo{
        text-align: left;
        line-height: 1.4rem;
        margin-top: 0.8rem;
        width: 110%;
        
    }
    .index-section-capitulos{
        display: none;
        justify-content: center;
        align-items: center;
    }
    .index-section-capitulos-container {
        display: none;
        justify-content: center;
        align-items: center;
        width: 300px;
        flex-wrap: wrap;
        flex-grow: 1;
        height: 400px;
    }
}
@media (max-width: 350px) {
    .principal__video{
        width: 270px;
        height: 60%;
        border-radius: 10px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .index-section-capitulos {
        height: 700px;
        box-sizing: border-box;
        margin-top: 50px;
        margin-bottom: 90px;
        display: none;
        flex-direction: column;
    }
    .index-section-capitulos-container {
        display: flex;
        height: 400px;
        flex-wrap: nowrap;
    }
    
    .index-section-capitulos-card {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 0.5rem;
    }
    .index-section-capitulos h2 {
        padding-bottom: 10px;
        font-size: 32px;
        margin-bottom: 3rem;
    }
    .index-section-capitulos h3 {
        padding-top: 20px;
    }
    
    .rainbow-button {
        width: 100px;
        height: 50px;
    }
    .rainbow-button:after {
        width: 92px;
        height: 42px;
    }
    
}
