@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Bowlby+One+SC&family=Kantumruy+Pro:wght@100;200;300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --font-title: "Bowlby One SC", cursive;
    --font-fineline: "Belanosima", sans-serif;
    --font-paragraph: "Poppins", sans-serif;
    --background-capitulo-1: rgb(218, 127, 127);
    --background-capitulo-2: rgb(253, 198, 147);
    --background-capitulo-3: #e9db19;
    --background-capitulo-4: rgb(166, 204, 166);
    --background-capitulo-5: rgb(66, 92, 204);
    --background-capitulo-6: #d0aae6;
    --background-capitulo-7: #e6aad2;
    --bar-width: 40px;
     --bar-height: 4px;
     --hamburger-gap:6px;
     --animation-timing: 200ms ease-in-out;
     --toggle-on: white;
     --toggle-of: rgba(15, 15, 15, 0.856);
}
/*  poppings
      mudar foter*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 0.2px;
}
.container {
    padding: 0 5rem;
}
h1 {
    font-family: var(--font-title);
    font-size: 54px;
    text-transform: uppercase;
    padding: 0.5rem;
}
h2 {
    font-family: var(--font-fineline);
    font-size: 22px;

    text-align: center;
    margin-bottom: 2rem;
}
h3 {
    font-family: var(--font-title);
    font-size: 22px;
}
p {
    font-family: var(--font-paragraph);
    font-weight: 300;
}
figcaption {
    font-family: var(--font-paragraph);
}

.cor-cap-1 {
    color: var(--background-capitulo-1);
}
.cor-cap-2 {
    color: rgb(221, 152, 88);
}
.cor-cap-3 {
    color: #b1a502;
}
.cor-cap-4 {
    color: var(--background-capitulo-4);
}
.cor-cap-5 {
    color: var(--background-capitulo-5);
}
.cor-cap-6 {
    color: var(--background-capitulo-6);
}
.cor-cap-7{
    color: var(--background-capitulo-7);
}
.capitulo {
    font-size: 26px;
    text-transform: uppercase;
}

.card-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.card-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    right: -26%;
    top: -55px;
}
.card-links img {
    width: 1.4rem;
}
.card-links img:hover {
    opacity: 0.5;
}
.data {
    font-family: var(--font-paragraph);
   font-size: 14px;
   font-weight: 600;
}
.card-subtitle{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2;
}
.capas-de-jornal {
    width: 366px;
    margin: 2.2rem 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.8) 0px 0 10px;
}
.legenda{
    font-family: var(--font-paragraph);
    text-align: center;
    font-size: 14px;
    color: rgb(58, 58, 58);
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.card p {
    text-align: left;
    letter-spacing: 0.3px;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    width: 70%;
    height: fit-content;
}
.p-test::first-letter {
    font-size: 4rem;
    font-weight: bold;
    float: left;
    margin: 20px 8px;
}
.content p {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}
.ultimo-p{
    margin-bottom: 90px;
}
.ancor-to-personal-page {
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.hamburger-menu{
    display: none;
    --x-width: calc(var(--hamburger-gap) * 1.41421356237);
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 90%;
    cursor: pointer;
}
.hamburger-menu::before, .hamburger-menu::after, .hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--toggle-of);
    border-radius: 99999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    background-color: var(--toggle-on);
}
.hamburger-menu:has(input:checked)::after {
    background-color: var(--toggle-on);
}
.hamburger-menu input:checked{
    background-color: var(--toggle-on);
}

.sidebar {
    transition: translate 560ms ease-in-out;
    translate: 100%;
    margin-top: 4rem;
    min-width: 10rem;
    position: fixed;
    left: 95%;
    z-index: 2;
    height: 580px;
    display: none;
    background-color: rgba(173, 190, 255, 0.856);
    border-radius: 5px;
    padding: 20px;
    gap: 1rem;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.sidebar-items {
    font-size: 24px;
    font-family: var(--font-paragraph);
    text-align: center;
}
.sidebar-items:hover , .sidebar-items-capitulos:hover {
    opacity: 0.6;
    color:white;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate:-110%;
}

.footer img:hover {
    opacity: 0.8;
}

.footer a {
    font-family: var(--font-paragraph);
    font-weight: 500;
}
.footer a:hover {
    font-weight: 900;
}

::-webkit-scrollbar{
    width: 0.5vw;
    background: rgba(0, 0, 0, 0.747);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.582);
}

::-webkit-scrollbar-thumb {
    /*background-color: rgb(255, 228, 196); */
    border-radius: 100vw;
}
#olho{
    padding: 1.4rem 3rem;
    font-size: 16.5px;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    
}
#above-footer {
    margin-bottom: 90px;
}
#last {
    margin-bottom: 120px;
}
@media (max-width: 800px) {
    .next-chapter {
        flex-direction: column;
        gap: 0px;
    }
    .card-links{
        right: -20%;
    }
}
@media (max-width: 600px) {
    .capitulo{
        font-size: 20px;
    }
    .card h1{
        font-size: 1.8rem;
        box-sizing: border-box;
        line-height: 2rem;
    }
    .card h2{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2;
        margin-bottom: 2.4rem;
    }
    .card-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 1rem;
    }
    .capitulo-title{
        font-size: 36px;
    }
    .card p{
        width: 75%;
    }
    .card-links {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        right: -15%;
        margin-bottom: 2rem;
        top:0;
    }
    .card-links img {
        width: 1rem;
    }
    .card-links:last-child {
        width: 1.2rem;
    }

    .conta {
        padding: 0;
    }
    .test a {
        height: 90px;
    }
    .container {
        padding: 0;
    }

    .hamburger-menu{
        left: 85%;
    }
}
@media (max-width: 400px){
    .capitulo{
        font-size: 20px;
    }
    .card h1{
        font-size: 1.8rem;
        box-sizing: border-box;
    }
    .card h2{
        max-width: 350px;
        text-align: center;
        margin: 1rem auto;
        margin-bottom: 2.2rem;
        font-size: 1.2;
    }
    .capas-de-jornal{
        width: 300px;
    }
    .legenda{
        width: 300px;
    }
    
    
}

@media (max-width: 450px) {
    .card-links {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        right: -25%;
    }
    .card-links img {
        width: 1rem;
    }
    .card p{
        width: 90%;
    }
}


