@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Bowlby+One+SC&family=Kantumruy+Pro:wght@100;200;300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --font-title: "Bowlby One SC", cursive;
    --font-fineline: "Belanosima", sans-serif;
    --font-paragraph: "Poppins", sans-serif;
    --background-capitulo-1: rgb(218, 127, 127);
    --background-capitulo-2: rgb(253, 198, 147);
    --background-capitulo-3: #f7f89d;
    --background-capitulo-4: rgb(166, 204, 166);
    --background-capitulo-5: rgb(180, 193, 253);
    --background-capitulo-6: #d0aae6;
    --background-capitulo-7: #e6aad2;
}
/*  poppings
      mudar foter*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 1px;
}
.container {
    padding: 0 5rem;
}
h1 {
    font-family: var(--font-title);
    font-size: 54px;
    text-transform: uppercase;
    padding: 0.5rem;
}
h2 {
    font-family: var(--font-fineline);
    font-size: 22px;

    text-align: center;
}
h3 {
    font-family: var(--font-title);
    font-size: 22px;
}
p {
    font-family: var(--font-paragraph);
    font-weight: 300;
}
figcaption {
    font-family: var(--font-paragraph);
}

.capitulo {
    font-size: 26px;
    text-transform: uppercase;
}

.card-first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1rem;
    margin-top: 5rem;
}
.card-links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    right: 8%;
}
.card-links img {
    width: 1.5rem;
}
.ultimo-p{
    margin-bottom: 90px;
}
.footer img:hover {
    opacity: 0.8;
}


.footer a {
    font-family: var(--font-paragraph);
    font-weight: 500;
}
.footer a:hover {
    font-weight: 900;
}

@media (max-width: 800px) {
    .next-chapter {
        flex-direction: column;
        gap: 0px;
    }
}
@media (max-width: 600px) {
    .card-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 1rem;
    }
    .card-links {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        right: -25%;
    }
    .card-links img {
        width: 1rem;
    }

    .conta {
        padding: 0;
    }
    .test a {
        height: 90px;
    }
    .container {
        padding: 0;
    }
}
