header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    height: 100px;
    background-color: var(--header-background-color);
}

.header__logo h1 {
    width: 200px;
    margin-right: 2rem;
    font-size: 38px;
    font-weight: 600;
    padding-left: 5rem;
}
.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav-item {
    padding-left: 2rem;
}
.header__nav-item img {
    width: 9rem;
    padding-right: 5rem;
}
.header__nav-item:hover {
    font-weight: bold;
}
.header__nav-item:last-child {
    padding-top: 5px;
}
.header__nav-item-container {
    font-weight: bold;
}

@media (max-width: 600px) {
    .header__nav-item img {
        display: none;
    }
}
