:root {
  --font-family: "Poppins", sans-serif;
}
/*  poppings
mudar foter*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  letter-spacing: 1px;
}

/* ################################ Global Classes ################################ */
/* ################################ Global Classes ################################ */

.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.title {
  text-align: center;
  color: white;
  height: fit-content;
}

.card h1 {
  padding: 20px;
  color: white;
}
.content h2 {
  padding: 80px;
}
.card p {
  text-align: justify;
  padding: 20px 20%;
  width: fit-content;
  height: fit-content;
}
.title p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: max-content;
  padding: 0;
}
.card button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  height: fit-content;
  text-transform: capitalize;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.card button:hover {
  background-color: rgb(34, 34, 34);
  border: 3px solid white;
  border-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
  color: white;
}
.content {
  background-color: rgb(252, 241, 229);
  height: fit-content;
}

.footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
}
.footer img {
  width: 150px;
  height: auto;
  padding: 5px;
}
.footer-img {
  padding-left: 40px;
}
.footer a {
  width: 0;
  height: 0;
  color: rgb(255, 255, 255);
}
.footer button {
  background-color: white;
  color: black;
  border-color: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
  border: 1px solid black;
  padding: 10px;
  height: fit-content;
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.footer button:hover {
  background-color: rgb(34, 34, 34);
  border: 2px white;
  border-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
  color: white;
}

/* ################################ Capítulo 1 ################################ */
/* ################################ Capítulo 1 ################################ */
.capitulo-1-titulo {
  background-color: rgb(252, 120, 120);
}

/* ################################ Capítulo 2 ################################ */
/* ################################ Capítulo 2 ################################ */

.capitulo-2-titulo {
  background-color: rgb(255, 193, 78);
}

/* ################################ Capítulo 3 ################################ */
/* ################################ Capítulo 3 ################################ */
.capitulo-3-titulo {
  background-color: #e6d863;
}

/* ################################ Capítulo 4 ################################ */
/* ################################ Capítulo 4 ################################ */
.capitulo-4-titulo {
  background-color: rgb(70, 161, 70);
}

/* ################################ Capítulo 5 ################################ */
/* ################################ Capítulo 5 ################################ */
.capitulo-5-titulo {
  background-color: rgb(63, 98, 253);
}

/* ################################ Capítulo 6 ################################ */
/* ################################ Capítulo 6 ################################ */
.capitulo-6-titulo {
  background-color: #9356e2;
}
