.about {
    background-color: var(--bg-color-about);
    padding-top: 2rem;
}
.about__title {
    display: none;
    font-size: 2.15rem;
    font-weight: 700;
    color: var(--font-color-light-black);
    padding: 4rem 2rem 2rem 0;
}
.about__text {
    color: black;
    font-weight: 300;
    text-align: left;
    padding: 10rem 0 2rem;
    letter-spacing: 0.4px;
    font-family: var(--font-paragraph);
    width: 80%;
    margin: 0 auto;
}
.about__text:first-of-type {
    padding-top: 2rem;
}
.about__signature {
    font-size: 2.25rem;
    font-family: var(--cursive-letter);
    padding-top: 2rem;
    padding-bottom: calc(90px + 2rem);
}

@media (max-width: 800px) {
    .about__text {
        text-align: left;
        font-size: 18px;
    }
}
