.about {
    background-color: var(--bg-color-about);
    padding-top: 2rem;
}
.about__title {
    display: none;
    font-size: 2.15rem;
    font-weight: 700;
    color: var(--font-color-light-black);
    padding: 4rem 2rem 2rem 0;
}
.ancor-to-personal-page {
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}
.about__text {
    color: black;
    font-weight: 300;
    text-align: left;
    padding: 10rem 0 2rem;
    letter-spacing: 0.4px;
    font-family: var(--font-paragraph);
    width: 80%;
    margin: 0 auto;
}
.about__text-title{
    color: black;
    font-weight: 500;
    text-align: left;
    padding: .8rem 0 .8rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem;
    font-family: var(--font-paragraph);
    width: 80%;
    margin: 0 auto;
}
.about__text-p {
    color: black;
    font-weight: 300;
    text-align: left;
    padding: .8rem 0 .8rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem;
    font-family: var(--font-paragraph);
    width: 80%;
    margin: 0 auto;
}
.about__text-bold{
    color: black;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.5px;
    font-family: var(--font-paragraph);
}
.about__text:first-of-type {
    padding-top: 2rem;
}
.about__signature {
    font-size: 2.25rem;
    font-family: var(--cursive-letter);
    padding-top: 2rem;
    padding-bottom: calc(90px + 2rem);
}
.above-footer{
    margin-bottom: 90px;
}
@media (max-width: 800px) {
    .about__text {
        text-align: left;
        font-size: 18px;
    }
}
