@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Bowlby+One+SC&family=Kantumruy+Pro:wght@100;200;300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --font-family: "Raleway", sans-serif;
    --font-paragraph: "Poppins", sans-serif;
    --header-background-color: #181717;
    --banner-background-color: #fdfdfd;
    --font-color-light-black: #464646;
    --bg-color-about: rgb(252, 241, 229);
    --cursive-letter: "Mea Culpa", cursive;
}
body {
    font-family: var(--font-family);
}
.container {
    padding-right: 6%;
    padding-left: 6%;
}
